body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #f7f0f0;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.container{
    text-align: center;
}

h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: red;
    transition: color 0.3 ease;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0.2);
    animation: fadeIn 1s ease;
}
.buttons{
    margin-top: 50px;
}

.next-1{
    font-size: 1 rem;
    padding: 15px 35px;
    margin-right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    transition: background-color 0.3s ease;
}
.next-1:hover{
    background-color: rgb(187, 245, 173);
    color:black;
}

.image-container{
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 10px;
    margin: 50px;
}